body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #1D1D1D;
    display: flex;
    margin-bottom: 35px;
}

#functional-example {
    display: table;
    margin-left: 15%;
    margin-top: 3%;
}

.SearchBox {
    width: 752.85px;
    height: 52px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #D2D2D2;
    margin-right: 40px;
    background-color: 
#F5F5F5;
margin-bottom: 35px;
&::placeholder{
    color: 
#838383;
font-size: 16px;
}
}

.AddTaskBtn {
    background-color: #c6e0e8;
    width: 158.15px;
    height: 52px;
    border-radius: 15px;
    border: 1px;
    color: #0053CF;
    font-weight: 800;
    font-size: 16px;
}

.AllTasksTitle, .CompletedTasksTitle {
    color: 
#000000;
    display: flex;
    font-weight: 700;
    font-size: 24px;
}